body {
  background-color: #eff5f5;
}

.change-pass {
  margin-top: 100px !important;
  display: flex;
  border-radius: 5px;
  width: 75vw;
  background-color: $primary;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 600px;

  h3 {
    color: white;
  }
}

.row.center {
  justify-content: center;
}

.btn-change-pass {
  @include body-font;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn-change-pass:hover {
  color: $accent;
  background: #fff;
  cursor: pointer;
}