// Global styling for this theme

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  @include body-font;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: -900px;
  right: 0px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/e7_render_small.jpg);
}

.overlay {
  position: absolute;
  height: 200%;
  min-height: 35rem;
  width: 100%;
  background-color: $secondary;
  opacity: 0.75;
  z-index: -1;
  bottom: -900px;
  @media (min-width: 768px) {
    min-height: 0;
  }
}

.single-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.img_highres {
  display: none;
}

.center {
  text-align: center;
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

/* Navbar links */
#navbar .navbar-links {
  float: right;
  display: block;
  padding: 10px;
}

#navbar .logo {
  float: left;
  display: block;
}

#navbar .navbar-links a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .overlay {
    bottom: 0;
  }
  .background {
    bottom: -700px;
    height:100%;
  }
  .single-page {
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
}