// Modal
.modaloverlay{
  background:rgba(0,0,0,0.8);
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index:-1;
  display: none;
  &:target{
    display: block;
    opacity:1;
    pointer-events:auto;
    z-index:99999;
  }
  .signup-modal{
    background-color: $primary;
    position:relative;
    margin:0 auto;
    padding:3em;
    border-radius: 2%;
    overflow: hidden;
    @media (min-width: 60em) {
      margin:5% auto;
      max-width:40em;
      width:85%;
    }
    @media (max-width: 59em) {
      height: 100%;
    }
    
	  > iframe, > div{
		border:none;
		width:100%;
		height:100%;
    }

    #signupForm{
      align-items: center;
      display: flex; 
      flex-direction: column;
      max-width: 400px;

      .row {
          align-items: center;
          text-align: center;
          width: 100%;
      }

      input + select {
          font-size: 1rem;
          padding: .5rem;
      }
      select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          color: rgba(53, 68, 95, 0.8);
      }
      button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 25px;
        transition: background 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
        background: transparent;
      }
      
      button:hover {
        background: $white;
        border: 2px solid $white;
        color: $accent;
        cursor: pointer;
      }
      h1 {
          font-size: 1.6rem;
          color: $accent;
      }
      p {
          font-size: 1.2rem;
          strong {
          font-weight: 700;
          }
      }
    }

    #messageContainer {
      margin-top: 10px;
    }
  }
  .close{
    color:$accent;
    font-size:40px;
    padding:8px 16px;
    position:absolute;
    right:0;
    text-align:center;
    text-decoration:none;
    top:0;
    z-index: 1;
  }
}