/* More Features Section
--------------------------------*/
#more-features {
    padding: 60px 0 60px 0;
    overflow: hidden;
  }
  
  #more-features .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
  }
  
  #more-features .icon {
    float: left;
  }
  
  #more-features .icon i {
    color: #666666;
    font-size: 80px;
    transition: 0.5s;
    line-height: 0;
  }
  
  #more-features .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #more-features h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #more-features h4 a {
    color: #111;
  }
  
  #more-features p {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
  }
  
  @media (max-width: 767px) {
    #more-features .box {
      margin-bottom: 20px;
    }
    #more-features .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
    #more-features h4, #more-features p {
      margin-left: 0;
      text-align: center;
    }
  }