// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #ffbb25 !default;
$primary-80: rgba(255, 187, 37, .8) !default;
$secondary: #E5A821 !default;
$secondary-80: rgba(229, 168, 33, .8) !default;
$accent: #B27A0F !default;