body {
  background-color: #eff5f5;
}

.verify-email {
  margin-top: 100px !important;
  display: flex;
  border-radius: 5px;
  width: 75vw;
  background-color: $primary;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 600px;

  h3 {
    color: white;
  }
}

.row.center {
  justify-content: center;
}