html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: -900px;
  right: 0px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/e7_render_small.jpg);
}

.overlay {
  position: absolute;
  height: 200%;
  min-height: 35rem;
  width: 100%;
  background-color: #256FFF;
  opacity: 0.75;
  z-index: -1;
  bottom: -900px;
}

@media (min-width: 768px) {
  .overlay {
    min-height: 0;
  }
}

.single-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.img_highres {
  display: none;
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

/* Navbar links */
#navbar .navbar-links {
  float: right;
  display: block;
  padding: 10px;
}

#navbar .logo {
  float: left;
  display: block;
}

#navbar .navbar-links a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .overlay {
    bottom: 0;
  }
  .background {
    bottom: -700px;
    height: 100%;
  }
  .single-page {
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
}

.about {
  margin-top: 100px !important;
  display: flex;
  border-radius: 5px;
  width: 75vw;
  background-color: #FFBB25;
  justify-content: center;
  text-align: center;
}

.about p {
  font-size: .9rem;
  padding: 20px;
  margin: 0;
}

.single-page-about {
  margin-bottom: 20px;
}

#logo {
  height: 130px;
  margin: 20px;
}

.background-about {
  height: 1000px;
}

.overlay-about {
  height: 1000px;
  top: 0;
}

.center {
  text-align: center;
}

@media (min-width: 768px) {
  .about {
    width: 60vw;
    text-align: left;
  }
  .about p {
    font-size: 1.2rem;
  }
  .background-about {
    bottom: 0;
    height: 100%;
  }
  .overlay-about {
    height: 100%;
    bottom: 0;
  }
  .single-page-about {
    margin-bottom: 0;
  }
}

.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(255, 187, 37, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #FFBB25;
  }
}

.btn-secondary {
  background-color: #256FFF;
  border-color: #256FFF;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #0052f1 !important;
  border-color: #0052f1 !important;
}

.input {
  font-weight: 300 !important;
}
