[Unit]
Description=Tail nginx logs
After=network.target

[Service]
Type=simple
User=serveradmin
WorkingDirectory=/var/log/nginx_container
ExecStart=/var/app/letstalk/infra/healthcheck/bin/python /var/app/letstalk/infra/healthcheck/nginx_tailer.py \
  --file=/var/log/nginx_container/access.log \
  --datadog
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target
