@import "variables";

#content {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
}

#hive-logo {
    display: inline-block;
}

.container.navbar {        
    padding: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: fit-content;
}

.account-info, .group-info {
    padding: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
}

.account-info {
    background: $secondary;
    width: 25vw;
}

nav.navbar {
    height: 100%;
}

.navbar-collapse {
    margin: 20px auto;
    width: 100%;
}

#hive-navbar-nav {
    background: $primary;
    height: 100%;
    width: 100%;
    padding: 30px;
    color: white;
    border-radius: 5px;
}

.navbar-light .navbar-nav a.nav-link {
    color: white;

    &.active {
        color: white;
        text-decoration: underline;
    }
}

.navbar-light .account-info .navbar-nav a.nav-link {
    margin: 0;
    padding: 0;
}

#managed-groups-dropdown {
    color: $secondary;
    font-size: 1.7rem;
    margin-bottom: 3px;
}

.group-info .btn-toolbar {
    margin-left: 30px;
}

.panel-content {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    margin: 5px;
}

.members-stats-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.members-stat {
    font-size: 1.3rem;
    color: $secondary;
}

.main-table-container {
    display: flex;
    width: 100%;
    overflow-y: scroll;
    max-height: 50vh;
    font-size: .75em;
}

.matchround-form-row {
    margin: 10px auto;
}

.modal-table {
    font-size: .55em;
}